@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<div style="justify-content:end; display:flex; margin:10px">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="HandleClick">
        <span class="bi bi-shield-lock" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link" href="/privacy" Match="NavLinkMatch.All">
            <span class="bi bi-shield-lock" aria-hidden="true"></span> Privacy Policy
        </NavLink>
    </div>
<div style="margin:10px; border-width: 0px 0px 1px 0px; border-color: lightblue; border-style: solid;"></div>
@code{
    private void HandleClick()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}
