<div class="top-row ps-3 navbar navbar-dark" style="background-color: #003185;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">XML Validator</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color: #004085; color: white;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-filetype-xml" aria-hidden="true"></span> XML Validator
            </NavLink>
        </div>
    </nav>
</div>

