@using Radzen.Blazor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="XmlPrettify.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <RadzenTheme Theme="material" @rendermode="InteractiveAuto" />
    <HeadOutlet />
    <script type="application/ld+json">
        {
          "name": "XML Formatter and Validator",
          "description": "A free tool for validating and formatting XML files online.",
          "url": "https://your-website-url.com",
          "applicationCategory": "Developer Tools"
        }
    </script>
    <meta name="google-adsense-account" content="ca-pub-8316836543955335">
    <meta property="og:title" content="Free Online XML Formatter and Validator">
    <meta property="og:description" content="Validate and beautify your XML content online. Simple, fast, and free.">
    <meta property="og:url" content="https://your-website-url.com">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://your-website-url.com/preview-image.png">
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>
