@using Radzen.Blazor
<!DOCTYPE html>
<html lang="en">

<head>
@*     <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9de30168-cb45-4b36-bf41-56e10cd0201c" data-blockingmode="auto" type="text/javascript"></script>
 *@    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="XmlPrettify.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/vscode-codicons@0.0.17/dist/codicon.min.css" rel="stylesheet">

    <RadzenTheme Theme="material" @rendermode="InteractiveAuto" />
    <HeadOutlet />
    <script type="application/ld+json">
        {
          "name": "XML Formatter and Validator",
          "description": "A free tool for validating and formatting XML files online.",
          "url": "https://xml-utilities.com/",
          "applicationCategory": "Developer Tools"
        }
    </script>
    <script>
        let dotNetObjectReference;

        function registerDotNetObject(objRef) {
            dotNetObjectReference = objRef;
        }

        async function handleFileDrop(event) {
            event.preventDefault();
            const file = event.dataTransfer.files[0];
            if (file) {
                const text = await file.text();
                const name = await file.name;
                dotNetObjectReference.invokeMethodAsync('HandleFileDrop', text, name);
            }
        }

        async function handleXsdFileDrop(event) {
            event.preventDefault();
            const file = event.dataTransfer.files[0];
            if (file) {
                const text = await file.text();
                const name = await file.name;
                dotNetObjectReference.invokeMethodAsync('HandleXsdFileDrop', text, name);
            }
        }

    </script>
    <meta name="google-adsense-account" content="ca-pub-8316836543955335">
    <meta property="og:title" content="Free Online XML Formatter and Validator">
    <meta property="og:description" content="Validate and beautify your XML content online. Simple, fast, and free.">
    <meta property="og:url" content="https://your-website-url.com">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://your-website-url.com/preview-image.png">
</head>

<body>
    <Routes />
    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>
